<!DOCTYPE html>
<html>
<head>
	<title> Clean City </title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flat-ui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
	{% block css %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flat-ui.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>