{% extends "ui/base.html" %}

{% block content %}
	<h3 style="color: #fff;text-align: center;margin-bottom:-40px;font-size: 50px;">Clean City</h3>
<div class="login">
    <div class="login-screen">
      	<div class="login-form">
      		<form action="" method="POST">
      		{% csrf_token %}
	      		<h2 class="heading">Login</h2>
	        	<div class="form-group">
	          		<input type="text" class="form-control login-field" value="" placeholder="Email" id="login-name" name="email">
	          		<label class="login-field-icon fui-user" for="login-name"></label>
	        	</div>

	            <div class="form-group">
	              	<input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" name="password">
	              	<label class="login-field-icon fui-lock" for="login-pass"></label>
	            </div>

	        	<input class="btn btn-primary btn-lg btn-block" href="#" type="submit" value="Login">
	        	<p class="login-link" style="color:#34495e !important;">New User?<a href="{% url 'ui:signup' %}"> <span class="color-green">Signup here!</span></a></p>
        	</form>
    	</div>
	</div>
</div>
{% endblock %}