{% extends "ui/base.html" %}

{% block content %}
 	<h4 style="color:#fff;text-align:center;margin-top:260px;"> 
 	Thank you for placing the request. The vendor will get back to you soon. <br><a style="color: #34495e;font-size: 20px;" href="{% url 'ui:home' %}">
 	Back to Home Page</a></h4>
{% endblock %}