{% extends "ui/base.html" %}
{% block content %}
    <div class="login">
        <div class="login-screen">
          <form action="" method="POST">
          	{% csrf_token %}
          	<div class="login-form">
              <h2 class="heading">New User? Sign Up here!</h2>
            	<div class="form-group">
              		<input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name" name="name">
              		<label class="login-field-icon fui-user" for="login-name"></label>
            	</div>

              <div class="form-group"> 
                  <input type="email" class="form-control login-field" value="" placeholder="Enter your email-id" id="login-mail" name="email">
                  <label class="login-field-icon fui-mail" for="login-pass"></label>
              </div>

	            <div class="form-group">
	              	<input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" name="password">
	              	<label class="login-field-icon fui-lock" for="login-pass"></label>
	            </div>

              <div class="form-group">
                <input type="text" class="form-control login-field" value="" placeholder="Phone number" id="login-number" name="phone">
                <label class="login-field-icon fui-phone" for="login-number"></label>
              </div>

              
              <div class="row demo-row">
                <div class="col-xs-3">
                  <label class="radio"> 
                  <input type="radio" name="usertype" id="usertype" value="user" data-toggle="radio">
                  User
                  </label>
                </div>
              
                <div class="col-xs-3">
                  <label class="radio">
                  <input type="radio" name="usertype" id="usertype" value="vendor" data-toggle="radio" checked="">
                  Vendor
                  </label>
                </div>
              </div>
              

            	<input type="submit" value="Next" class="btn btn-primary btn-lg btn-block" href="index.html">
            	<a class="login-link" href="{% url 'ui:home' %}">Already have an account?</a>
        	</div>
          </form>	
    	</div>
    </div>
{% endblock %}