{% extends "ui/base.html" %}

{% block css %}
  <style type="text/css">
    #map {
      width: 100%;
      height: 510px;
      background-color: #CCC;
      margin: 0 auto;
    }
  </style>
{% endblock %}

{% block content %}
<div id="map">
  
</div>


<!-- <button style="margin-top:20px;margin-left:50%;">Submit</button> -->
{{ prob_type }}
{% if prob_type == 1 %}
<button type="button" class="btn btn-block btn-lg btn-inverse" data-toggle="modal" data-target="#fakelink" style="margin-top:25px;margin-left:45%;width:10%;">Submit</button>
{% else %}
<button type="button" class="btn btn-block btn-lg btn-inverse" data-toggle="modal" data-target="#fakelink1" style="margin-top:25px;margin-left:45%;width:10%;">Submit</button>
{% endif %}

<div class="modal fade" id="fakelink" tabindex="" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color:#1abc9c !important;font-size:20px;">Thank you</h4>
      </div>
      <div class="modal-body">
        <span style="font-size:16px;">Your valuable response has been noted. The issue will be addressed soon.</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"><a href="{% url 'ui:home' %}" style="color:#fff;">Back to Homepage</a></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fakelink1" tabindex="" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#1abc9c;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color:#34495e !important;font-size:20px;">Vendor List</h4>
      </div>
      <div class="modal-body" style="background-color:#34495e;">
      <h3 style="color:#1abc9c;font-size:22px;margin-top:-3px;">Vendors who can respond to your request</h3>
        {% for vendor in vendors %}
         <form action="{% url 'ui:place' prob_type prob_id vendor.id %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-xs-6">
              <p class="vendor-name login-field-icon fui-user"> {{ vendor.name }} </p>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
              <p class="vendor-contact fui-mic"> {{ vendor.phone }}</p>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-8">
              <p class="fui-document vendor-address"> {{ vendor.address }}</p>
            </div>
            <div class="col-xs-4">
              <input type="submit" value="Place request" class="btn btn-primary btn-lg btn-block" href="" style="width:90%;">
            </div>
          </div>
           <hr>
          </form>
         {% endfor %} 
		        
          <div class="modal-footer" style="border:none;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"><a href="{% url 'ui:home' %}" style="color:#fff;">Back to Homepage</a></button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="js/flat-ui.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
<script type="text/javascript">


  function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 6
  });
  var infoWindow = new google.maps.InfoWindow({map: map});

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}

</script>
{% endblock %}