{% extends "ui/base.html" %}

{% block content %}
<div class="row demo-row">
  <div class="col-xs-12">
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Clean City</a>
      </div>
            
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-right">
         <li><a href="{% url 'ui:userprofile' %}">Profile</a></li>
          <li><a href="{% url 'ui:logout' %}">Logout</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
  </div>
</div>

<div class="row demo-tiles">
  <div class="col-xs-1"></div>
  <div class="col-xs-5">
  	<form action="" name="social" method="POST">
  		{% csrf_token %}
	    <div class="tile">
	      <h3 class="tile-title" style="padding-bottom:20px;">Keeping my surroundings clean</h3>
	      <textarea class="textarea-content" placeholder="Leave your comment here!" name="comment"></textarea>
	      <h5 class="tile-title" style="padding-bottom:10px;text-align:left;margin-left:65px;padding-top:10px;">Requesting for </h5>
	      <div class="row demo-row" style="margin-left: 40px;">

	      {% for solution in solutions %}
	      <div class="col-xs-6">
	        <label class="radio">
	          <input type="radio"  value="{{ solution.id }}"  name="solution">
	          {{ solution.title }}
	        </label>
	      </div>
	      {% endfor %}

	    </div>
	    <input type="submit" value="Save" class="btn btn-primary btn-large btn-block" href="google_map.html" name="social" >
	    </div>
    </form>
  </div>

  <div class="col-xs-1"></div>

  <div class="col-xs-4">
  <form action="" method="POST" name="home">
  	{% csrf_token %}
    <div class="tile">
      <h3 class="tile-title" style="padding-bottom:20px;">Home = Hygiene</h3>
      <textarea class="textarea-content" placeholder="Leave your comment here!" name="comment"></textarea>

      <h5 class="tile-title" style="padding-bottom:10px;text-align:left;margin-left:45px;padding-top:10px;">Requesting for </h5>

      <div class="row demo-row">
  		{% for solution in solutions %}
	       <div class="col-xs-6">
	        <label class="radio">
	          <input type="radio" value="{{ solution.id }}" name="solution_home">
	          {{ solution.title }}
	        </label>
	      </div>
	    {% endfor %}
     </div>
	    <input type="submit" value="Save"  class="btn btn-primary btn-large btn-block" href="google_map.html" name="home">
   
  	</div>
  </form>
  </div>

  <div class="col-xs-1"></div>
</div>
{% endblock %}