{% extends "ui/base.html" %}

{% block content %}
{% load staticfiles %}
<div class="row demo-tiles" style="margin-top:40px;">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <div class="tile">
      <div class="row">
        <div class="col-xs-12">
          <img src="{% static 'img/user.jpg' %}" width="220px" height="200px;">
        </div>
        <div class="row">
          <div class="col-xs-12" style="text-align:center">
          <h3 style="font-size:28px;"> {{ huser.name }} </h3>
          <p style="font-size:22px;margin-bottom:-5px;margin-top:5px;"> {{ huser.user.email }} </p>
          <p style="font-size:22px;"> {{ huser.phone }} </p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3"></div>
</div>
{% endblock %}