{% extends "ui/base.html" %}

{% block content %}

<div class="row demo-row">
  <div class="col-xs-12">
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Clean City</a>
      </div>
            
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"> Profile </a></li>
          </li>
          <li><a href="{% url 'ui:logout' %}"> Logout </a></li>
          </li>
        </ul>            
      </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
  </div>
</div>

<div class="row demo-row">
  <div class="col-xs-3"></div>
  <div class="col-xs-9">
    <div class="row demo-tiles">
      <div class="col-xs-1"></div>
      <div class="col-xs-6">
        <div class="tile">
          <h3 class="tile-title" style="padding-bottom:20px;font-size:20px !important;">Requests for your service</h3>
          <h4 style="font-size:18px;text-align:left;">Requested by,</h4>
          {% for req in requests %}
          <div class="row demo-row user-content">
              <div class="col-xs-6">
                <p>{{ req.user.name }}</p>
              </div>
              <div class="col-xs-6">
                <p>{{ req.user.phone }}</p>
              </div>
              <div class="col-xs-12" style="margin-top:-35px;margin-bottom:10px;font-style: italic;">
              {% if req.requirement %}
              	{{ req.requirement.desc }}
              {% else %}
              	{{ req.problem.desc }}
              {% endif %}
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}