{% extends "ui/base.html" %}

{% block css %}

  <style type="text/css">
  #map {
    width: 450px;
    height: 400px;
    background-color: #CCC;
    margin-bottom: 20px;
  }
  </style>
{% endblock %}

{% block content %}
    <div class="login">
        <div class="login-screen">
          <form action="" method="POST">
           {% csrf_token %}
          	<div class="login-form vendor-form">
              <h2 class="heading">What services do you provide?</h2>
              
              <div class="row demo-row">
              {% for solution in solutions %}
              
                <div class="col-xs-6">
                  <label class="checkbox">
                <input type="checkbox" value="{{ solution.id }}" name="solution" data-toggle="checkbox">
                {{ solution.title }}
                </label>
              </div>
              
              {% endfor %}
              </div>
              <div class="row demo-row">
              <h5 class="location-map">Select your location: </h5>
                <div class="col-xs-6">
                  <div id="map" style="margin-left:50px !important;">
                    
                  </div>
                </div>
              </div>

              <div class="row" style="color:#34495e !important;margin-bottom:30px;">
                <h5 class="range-selector">Select a range(kilometers):</h5>
                <div class="col-xs-12">
                  <div id="slider" class="ui-slider">
                    <div class="ui-slider-segment" style="margin-top:10px;">
                      <p>0</p>
                    </div>
                    <div class="ui-slider-segment"></div>
                    <div class="ui-slider-segment" style="margin-left:48%;margin-top:10px;">
                      <p>10</p>
                    </div>
                    <div class="ui-slider-segment" style="float:right;margin-right:10px;margin-top:10px;">
                      <p>20</p>
                    </div>
                  </div>
                </div>
              </div>
              <input type="submit" value="Sign up" class="btn btn-primary btn-lg btn-block" href="index.html">
        	</div>
          </form>
    	</div>
    </div>
{% endblock %}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
<script type="text/javascript">
  var $slider = $("#slider");
  if ($slider.length > 0) {
    $slider.slider({
    min: 1,
    max: 5,
    value: 3,
    orientation: "horizontal",
    range: "min"
  }).addSliderSegments($slider.slider("option").max);
}
</script>
<script type="text/javascript">
  // function initMap() {
  //   var mapDiv = document.getElementById('map');
  //   var map = new google.maps.Map(mapDiv, {
  //     center: {lat: 44.540, lng: -78.546},
  //     zoom: 8
  //   });
  // }

  function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 6
  });
  var infoWindow = new google.maps.InfoWindow({map: map});

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}

</script>
{% endblock %}