body {
	width: 100%;
	height: 100%;
	background-color: #1abc9c;
	overflow-x: hidden;
}

.heading {
	text-align: center;
	padding-bottom: 22px;
	color: #34495e;
	font-size: 20px;
}

.login-form {
	margin: 0 auto !important;
	max-width: 600px !important;
}

/*.vendor-form {
	max-width: 800px !important;
}*/

.login-link {
	color: #34495e !important;
}

.login-link:hover {
	color: #1abc9c;
}

.color-green {
	color: #1abc9c;
}

.radio {
	color: #34495e !important;
	float: left;
}

.checkbox {
	color: #34495e !important;
	float: left;
}

.range-selector {
	font-size: 16px;
	padding-left: 10px;
}

.location-map {
	font-size: 16px;
	color: #34495e;
	padding-left: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.textarea-content {
	width: 70%;
}

.vendor-list {
	min-height: 200px;
	background-color: #34495e;
}

.modal-body p {
	color: #1abc9c;
}

.vendor-name {
	font-size: 23px;
}

.vendor-address {
	font-size: 16px;
}

.user-content p {
	font-size: 20px;
}

.user-content {
	border-top:1px solid #34495e;
	padding: 4px;
}